{{!< default}}

<header id="home">
   <section class="hero" id="hero">
     <div class="container">
       <div class="row">
         <div class="col-md-8 col-md-offset-2 text-center inner">
           <h1 class="animated fadeInDown"><strong>SOUTH NATICK LAW</strong></h1>
           <h4 class="animated fadeInUp delay-05s">McLaughlin, Richards, Biller &amp; Schindel, LLP</h4>
             <h2 class="animated fadeInUp delay-05s">Innovation • Experience • Results</h2>
         </div>
       </div>
       <div class="row">
         <div class="col-md-3 col-md-offset-3 text-center">
           <a href="#intro" class="learn-more-btn">Learn More</a>
         </div>
         <div class="col-md-3 text-center">
           <a href="#contact" class="learn-more-btn">Get in Touch</a>
         </div>
       </div>
     </div>
   </section>
 </header>
 <section class="intro text-center section-padding" id="intro">
   <div class="container">
     <div class="row">
       <div class="col-md-8 col-md-offset-2 wp1">
         <h2 class="arrow">Big Firm Sophistication, Small Firm Attention</h2>
         <p>At South Natick Law we have the patience to listen to you. We take the time to understand your problems and the outcomes you hope to achieve. Our goal is to design and implement a plan to effectively and efficiently address your legal issues and achieve your goals. When attorneys and clients work together as a team the sky is the limit.</p>
       </div>
     </div>
   </div>
 </section>
 <section class="features text-center section-padding" id="features">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <h2 class="arrow">Get to Know Us and What We Do</h2>
         <div class="features-wrapper">
           <div class="col-md-4 wp2">
               <a href="/about">
                 <div class="icon">
                     <i class="fa fa-university"></i>
                 </div>

               </a>
                 <a href="/about">
                     <h3>About Us</h3>
                 </a>
                 <p>Whether your problem is complex or simple, we have the experience and expertise to find workable solutions at a reasonable cost.</p>
           </div>
           <div class="col-md-4 wp2 delay-05s">
               <a href="/areas-of-practice">
                 <div class="icon">
                     <i class="fa fa-gavel"></i>
                 </div>
               </a>
               <a href="/areas-of-practice">
                 <h3>Areas of Practice</h3>
               </a>
                 <p>Each attorney specializes in his or her expertise. Together we offer services in domestic relations, estate planning, real estate, probate, tax law and more.</p>
           </div>
           <div class="col-md-4 wp2 delay-1s">
               <a href="/contact">
                 <div class="icon">
                     <i class="fa fa-book"></i>
                 </div>
               </a>
               <a href="/contact">
                 <h3>Resources</h3>
               </a>
                 <p>Looking to learn more about your needs before speaking with us? Find legal news and advice straight from our attorneys.</p>
           </div>
         </div>
           <div class="clearfix"></div>
         </div>
       </div>
   </div>
 </section>

 <section class="swag text-center">
   <div class="container">
     <div class="row">
       <div class="col-md-8 col-md-offset-2">
         <h2><strong>Over 100 Years</strong><span>of combined experience</span></h2>
         <a href="#portfolio" class="down-arrow-btn"><i class="fa fa-chevron-down"></i></a>
       </div>
     </div>
   </div>
 </section>

 <section class="portfolio text-center section-padding" id="portfolio">
   <div class="container">
     <div class="row" id="attorneys">
       <div class="col-md-12">
         <h2 class="arrow">Meet Our Attorneys</h2>
       </div>
     </div>
     <div class="row">
       <div id="portfolioSlider">
         <ul class="slides">
           <li>
             <div class="col-md-3 wp4">
               <div class="overlay-effect effects clearfix">
                 <div class="img">
                   <img src="{{asset "img/mclaughlin_full.png" }}" alt="James McLaughlin">
                   <div class="overlay">
                     <a href="/james-mclaughlin" class="expand"><i class="fa fa-coffee"></i><br>Meet James</a>
                     <a class="close-overlay hidden">x</a>
                   </div>
                 </div>
               </div>
               <h3>James McLaughlin<br><small>Principal</small></h3>
               <p>Domestic Relations</p>
                 <p>Tax and Estate Planning</p>
                 <p>Real Estate</p>
             </div>
             <div class="col-md-3 wp4 delay-05s">
               <div class="overlay-effect effects clearfix">
                 <div class="img">
                   <img src="{{asset "img/richards_full.png" }}" alt="George Richards">
                   <div class="overlay">
                     <a href="/george-richards" class="expand"><i class="fa fa-coffee"></i><br>Meet George</a>
                     <a class="close-overlay hidden">x</a>
                   </div>
                 </div>
               </div>
               <h3>George Richards III<br><small>Principal</small></h3>
               <p>Real Estate</p>
                 <p>Estate Planning and Probate</p>
                 <p>Small Business Law</p>
             </div>
             <div class="col-md-3 wp4 delay-1s">
               <div class="overlay-effect effects clearfix">
                 <div class="img">
                   <img src="{{asset "img/biller_full.png" }}" alt="Richard Biller">
                   <div class="overlay">
                     <a href="/richard-biller" class="expand"><i class="fa fa-coffee"></i><br>Meet Richard</a>
                     <a class="close-overlay hidden">x</a>
                   </div>
                 </div>
               </div>
               <h3>Richard Biller<br><small>Principal</small></h3>
               <p>Domestic Relations</p>
                 <p>Employment Law</p>
             </div>
             <div class="col-md-3 wp4 delay-15s">
               <div class="overlay-effect effects clearfix">
                 <div class="img">
                   <img class="center-block" src="{{asset "img/schindel_full.png" }}" alt="Caren Schindel">
                   <div class="overlay">
                     <a href="/caren-schindel" class="expand"><i class="fa fa-coffee"></i><br>Meet Caren</a>
                     <a class="close-overlay hidden">x</a>
                   </div>
                 </div>
               </div>
               <h3>Caren Schindel<br><small>Principal</small></h3>
               <p>Elder Law</p>
                 <p>Estate Planning</p>
                 <p>Domestic Relations</p>
             </div>
           </li>
         </ul>
       </div>
     </div>
   </div>
 </section>

 <section class="subscribe text-center">
   <div class="container">
         <a href="/contact" class="ignite-btn">Schedule a Consultation</a>
   </div>
 </section>

 <section class="team section-padding" id="team">
   <div class="container">
     <div class="row">
       <div class="col-md-12 text-center">
         <h2 class="arrow">Our Core Values</h2>
       </div>
     </div>
     <div class="row  roman">
         <div class="col-md-12 text-center">
             <p>Over the years we have developed <strong>four pillars of practice</strong> that guide us in our representation of you:</p>
         </div>
     </div>
     <div class="row text-center">
           <div class="col-md-3">
                 <span class="fa-stack fa-2x">
                       <i class="fa fa-circle fa-stack-2x text-primary text-center roman"></i>
                       <span class="roman">I</span>
                 </span>
                 <p>We adhere to the highest level of integrity and ethics, both professionally and personally.</p>
           </div>
           <div class="col-md-3">
                 <span class="fa-stack fa-2x">
                       <i class="fa fa-circle fa-stack-2x text-primary roman"></i>
                       <span class="roman">II</span>
                 </span>
                 <p>We provide sophisticated advice and planning while maintaining the warm, personal touch of a small firm.</p>
           </div>
           <div class="col-md-3">
                 <span class="fa-stack fa-2x">
                       <i class="fa fa-circle fa-stack-2x text-primary roman"></i>
                       <span class="roman">III</span>
                 </span>
               <p>We break every problem down into its simplest elements to explain issues and solutions in a simple, straight forward manner.</p>
           </div>
           <div class="col-md-3">
               <span class="fa-stack fa-2x">
                   <i class="fa fa-circle fa-stack-2x text-primary roman"></i>
                   <span class="roman">IV</span>
               </span>
               <p>We stay current in our areas of expertise. We attend conferences and study new developments and trends in the law.</p>
           </div>
       </div>
     <div class="row">
         <div class="col-md-12 text-center">
             <p>In short, we utilize our combined knowledge and skill to obtain successful results for our clients both in and out of court. Whether your problem is complex or simple, we have the experience and expertise to find workable solutions at a reasonable cost.</p>
         </div>
     </div>
   </div>
 </section>

 {{> cta}}
