{{!< default}}

<section class="section-padding">
    <div class="container">
      {{#post}}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{title}} <small>Real Estate Attorney</small></h1>
            </div>
            <div class="col-md-4">
                <img class="img-responsive img-rounded" src="{{asset "img/richards_full.png" }}" alt="George L. Richards III">
                <br>
                <h2>Contact Details</h2>
                <p><abbr title="Phone"><i class="fa fa-phone"></i></abbr> : (508) 655-1660</p>
                <p><abbr title="Email"><i class="fa fa-envelope-o"></i></abbr> : <a href="mailto:grichards@southnaticklaw.com">grichards@southnaticklaw.com</a></p>
                <p><abbr title="Hours"><i class="fa fa-clock-o"></i></abbr> : Monday - Friday: 9:00 AM to 5:00 PM</p>
                <ul class="list-unstyled list-inline list-social-icons">
                    <li>
                        <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                </ul>

            </div>
            <div class="col-md-8">
                {{content}}
            </div>
        </div>
      {{/post}}
    </div>
</section>

{{> cta}}
