{{!< default}}
<section class="section-padding">
  <div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2 class="arrow">Contact South Natick Law</h2>
        </div>
    </div>
    <div class="row">
      <br>
        <div class="col-sm-12 text-center alert-success">
            <p>
              Thank you for your inquiry! One of our attorneys will be in touch with you within 48 hours.
            </p>
        </div>
    </div>
  </div>
</section>
