{{!< default}}

<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="arrow">Contact South Natick Law</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10 text-center">
                <p>Have a question? Schedule a consultation with one of <a href="/about">our professional attorneys</a>. <br> We're happy to discuss the legal issues and available options in your case.</p>
            </div>
        </div>
    </div>
</section>
