{{!< default}}

<section class="section-padding">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center" id="arrow-head-row">
          {{#post}}
            <h1 class="arrow">{{title}}</h1>
            <p>{{content}}</p>
          {{/post}}
        </div>
    </div>
    <div class="row">
      <div class="col-sm-4 wp2">
          <div class="media aop-media">
              <div class="pull-left">
                  <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                  </span>
              </div>
              <div class="media-body">
                  <h4 class="media-heading">Elder Law</h4>
                  <dl>
                      <dd>Long-Term Care</dd>
                      <dd>End of Life Planning</dd>
                      <dd>Medicaid</dd>
                  </dl>
              </div>
          </div>
      </div>
      <div class="col-sm-4 wp2 delay-05s">
          <div class="media aop-media">
              <div class="pull-left">
                  <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-text-o fa-stack-1x fa-inverse"></i>
                  </span>
              </div>
              <div class="media-body">
                  <h4 class="media-heading">Probate</h4>
                  <dl>
                      <dd>Will Contests</dd>
                      <dd>Probate Litigation</dd>
                      <dd>Guardianships</dd>
                  </dl>
              </div>
          </div>
      </div>
      <div class="col-sm-4 wp2 delay-1s">
          <div class="media aop-media">
              <div class="pull-left">
                  <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bank fa-stack-1x fa-inverse"></i>
                  </span>
              </div>
              <div class="media-body">
                  <h4 class="media-heading">Bankruptcy</h4>
                  <dl>
                      <dd>Restructuring</dd>
                      <dd>Debtor &amp; Creditor Practices</dd>
                      <dd>Consumer &amp; Commercial</dd>
                  </dl>
              </div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 wp2">
          <div class="media aop-media">
              <div class="pull-left">
                  <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                  </span>
              </div>
              <div class="media-body">
                  <h4 class="media-heading">Taxation</h4>
                  <dl>
                      <dd>Personal Income Tax</dd>
                      <dd>Corporate Income Tax</dd>
                      <dd>Estate Taxation</dd>
                      <dd>Estate Planning</dd>
                      <dd>Estate Income Tax</dd>
                  </dl>
              </div>
          </div>
      </div>
      <div class="col-sm-4 wp2 delay-05s">
          <div class="media aop-media">
              <div class="pull-left">
                  <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                  </span>
              </div>
              <div class="media-body">
                  <h4 class="media-heading">Real Estate</h4>
                  <dl>
                      <dd>Purchase &amp; Sales Agreements</dd>
                      <dd>Residential Real Estate</dd>
                      <dd>Commercial Real Estate</dd>
                      <dd>Zoning</dd>
                      <dd>Conveyancing</dd>
                  </dl>
              </div>
          </div>
      </div>
      <div class="col-sm-4 wp2 delay-1s">
          <div class="media aop-media">
              <div class="pull-left">
                  <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user-secret fa-stack-1x fa-inverse"></i>
                  </span>
              </div>
              <div class="media-body">
                  <h4 class="media-heading">Criminal Law</h4>
                  <dl>
                      <dd>Traffic Violations</dd>
                      <dd>Expongements</dd>
                      <dd>Parole &amp; Probation</dd>
                      <dd>Juvenile Law</dd>
                      <dd>Criminal Law Process</dd>
                  </dl>
              </div>
          </div>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-4 wp2">
            <div class="media aop-media">
                <div class="pull-left">
                    <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Domestic Relations</h4>
                    <dl>
                        <dd>Divorce</dd>
                        <dd>Child Custody</dd>
                        <dd>Paternity</dd>
                        <dd>Pre-Nuptial Agreements</dd>
                        <dd>Adoption</dd>
                        <dd>Modifications</dd>
                        <dd>Contempts</dd>
                        <dd>Guardian Ad Litem</dd>
                        <dd>Mediation</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-sm-4 wp2 delay-05s">
            <div class="media aop-media">
                <div class="pull-left">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Employment Law</h4>
                    <dl>
                        <dd>Severance &amp; Severance Agreements</dd>
                        <dd>Non-Compete Agreements</dd>
                        <dd>Employment Contracts</dd>
                        <dd>Wage &amp; Hour Claims</dd>
                        <dd>Wrongful Termination</dd>
                        <dd>MCAD Proceedings</dd>
                        <dd>Litigation</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-sm-4 wp2 delay-1s">
            <div class="media aop-media">
                <div class="pull-left">
                    <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa fa-legal fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Civil Litigation</h4>
                    <dl>
                        <dd>Intellectual Property</dd>
                        <dd>Environmental Law</dd>
                        <dd>Personal Injury</dd>
                        <dd>Medical Malpractice</dd>
                        <dd>Construction</dd>
                        <dd>Landlord &amp; Tenants</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 wp2">
            <div class="media aop-media">
                <div class="pull-left">
                    <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa fa-archive fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Estate Administration</h4>
                    <dl>
                        <dd>Appointment of Executor/Administrator</dd>
                        <dd>Inventories</dd>
                        <dd>Accounts</dd>
                        <dd>Wills &amp; Trusts</dd>
                        <dd>Durable Powers of Attorney</dd>
                        <dd>Gifting</dd>
                    </dl>
                </div>
            </div>

        </div>
        <div class="col-sm-4 wp2 delay-05s">
            <div class="media aop-media">
                <div class="pull-left">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-medkit fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Health Care Law</h4>
                    <dl>
                        <dd>Health Care Regulation</dd>
                        <dd>Personal Injury</dd>
                        <dd>Medical Malpractice</dd>
                        <dd>Health Care Professional Licensure</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

{{> cta}}
